.wrapper {
  display: inline-block;
  font-family: "Merriweather Sans", "Open Sans", sans-serif;
}

.time-ago {
  font-size: 10px;
  vertical-align: top;
  padding-top: 3px;
  display: inline-block;
  font-weight: normal;
}

.separator {
  margin: 0 4px;
  background-color: #afbec6;
  display: inline-block;
  width: 1px;
  height: 11px;
}
