.unknown {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  height: 34px;
}
.tick {
  width: 24px;
  height: 14px;
  vertical-align: top;
}
.weather-icon {
  width: 24px;
  height: 34px;
  vertical-align: middle;
}

.dropdown {
  width: 24px;
  height: 12px;
}
