.unknown {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  height: 28px;
}
.tick {
  width: 24px;
  height: 14px;
  vertical-align: top;
}
.weather-icon {
  width: 24px;
  height: 28px;
  vertical-align: middle;
}
.dropdown {
  width: 24px;
  height: 12px;
}
