.app-header-color {
    background: #0037c5;
    color: #ffffff;
    text-align: center;
}
.logo {
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 100;
    font-size: 1.1em;
    display: block;
    margin: 0 auto;
}
