<mat-toolbar class="app-header-color">
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <span class="logo">Composer</span>
      <span class="example-spacer"></span>
      <div class="user-account">
          <mat-icon class="user-icon">account_circle</mat-icon>
          <div class="user-info" fxHide.xs="true">
              <span class="username">Sarah Edmunds</span>
              <span class="user-role">Stuff Creator</span>
          </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>