@import "src/styles/break-points";

.wrapper {
  margin-bottom: 20px;
}

@include mobile {
  .image {
    margin: 0 -10px;
  }
}

a {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.intro {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.text {
  position: relative;
  padding: 40px 10px 10px;
  margin-top: -30px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    #222222 30px,
    #222222 100%
  );
  border-bottom: 1px solid #414141;

  .intro {
    color: #ffffff;
  }
  app-headline {
    --title-size: 40px;
    font-weight: 900;
    color: #ffffff;
  }
}

.related-articles {
  display: flex;
  flex-direction: row;
  background-color: #222222;
}

.cell {
  flex-grow: 1;
  app-headline {
    --title-size: 18px;
    color: #ffffff;
  }
  border-right: 1px solid #414141;
  padding: 10px;
}
