/*------------------------------------*\
    $BASE
\*------------------------------------*/

$base-color: #444;
$base-font-family: 'Merriweather Sans', 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-weight: 300;
$bold-font-weight: 700;
$base-font-size: 17px;
$base-line-height: 24.65px;
$base-spacing-unit: $base-line-height;
$base-radius: 2px;
$base-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

/*------------------------------------*\
    $HEADER
\*------------------------------------*/

$navigation-primary-height: 48px;
$navigation-secondary-height: 45px;

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

$footer-height: 12em;

/*------------------------------------*\
    $TEXT DIRECTION
\*------------------------------------*/

$dir-default: 'left';
$dir-reverse: 'right';
$direction: 'LTR';

@if $direction == 'RTL' {
    $dir-default: 'right';
    $dir-reverse: 'left';
}

/*------------------------------------*\
    $COLOR SWATCHES
\*------------------------------------*/

//------------------------------------
// Base colours
//------------------------------------

$color-white: #fff;
$color-black: #000;
$color-primary: #0e7bc2;
$color-primary-strong: #0a598d;
$color-neutral-grey: #e1e1e1;
$color-light-grey: #edeef1;
$color-medium-grey: #748d9b;

//------------------------------------
// Neutrals
//------------------------------------
$color-neutral-primary: #333;
$color-neutral-secondary: #666;
$color-neutral-tertiary: #999;
$color-neutral-quaternary: #9f9f9f;
$color-neutral-quinary: #eee;
$color-neutral-senary: #f2f2f2;

//------------------------------------
// Text
//------------------------------------

$color-text-heading: #263238;
$color-text-strap-heading: #60696e;
$color-text-body: #37474f;
$color-text-byline: #b0bec5;
$color-text-media: #717171;
$color-text-nav: #252b2e;
$color-text-caption: #73787b;
$color-text-producer: #a2aeb4;
$color-text-warning: #ff0000;
$color-text-footer: $color-medium-grey;

//------------------------------------
// Borders
//------------------------------------

$color-border-subtle: #ebeef0;
$color-border-iron: #d1d6da;

//------------------------------------
// Section
//------------------------------------

$color-section-default: #0e468e;

//------------------------------------
// Alerts and message statuses
//------------------------------------

$color-success: #00824A;
$color-warning: #f36f21;
$color-error: #d12421;
$color-info: #0083D7;

/*------------------------------------*\
    $GRID SETTINGS
\*------------------------------------*/

$max-page-width: 1150px;

/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/

$heading-font-family: 'Merriweather', 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, Georgia, serif;

$line-height-alpha: 1.3;
$line-height-beta: 1.35;
$line-height-gamma: 1.4;
$line-height-delta: 1.45;
$line-height-epsilon: 1.5;
$line-height-zeta: 1.525;
$line-height-eta: 1.55;
$line-height-theta: 1.575;
$line-height-iota: 1.6;

$alpha: 28px;
$beta: 22px;
$gamma: 20px;
$delta: 17px;
$epsilon: 14px;
$zeta: 13px;
$eta: 12px;
$theta: 11px;
$iota: 10px;

$delta-medium: 17px;
$delta-large: 18px;
$delta-xlarge: 20px;

/*------------------------------------*\
    $LINKS
\*------------------------------------*/

$link-color: $color-primary;
$link-hover-color: $link-color;
$link-active-color: $color-primary-strong;
$link-visited-color: $color-primary-strong;
$link-focus-color: $link-color;
$link-underline: false;
$link-underline-on-hover: true;


/*------------------------------------*\
    $BREAKPOINTS
\*------------------------------------*/

// Our breakpoints are determined by content (e.g. advertising) rather than the
// device.
// We define our breakpoints using arbitrary sizes, as we have breakpoints
// (and will probably have more in future) that fall between the conventional
// sizes (mobile, tablet, desktop).

$screen: 'only screen';
$small-range: 0, 299px;

// mobile
$medium-range: 300px, 840px;

// mobile up to tablet
$large-range: 841px, 1011px;

// tablet up to small desktop
$xlarge-range: 1012px, 1294px;

// small desktop up to large desktop
$xxlarge-range: 1295px, 99999999em;

// really large desktop

$small-start: lower-bound($small-range);
$small-end: upper-bound($small-range);

$medium-start: lower-bound($medium-range);
$medium-end: upper-bound($medium-range);

$large-start: lower-bound($large-range);
$large-end: upper-bound($large-range);

$xlarge-start: lower-bound($xlarge-range);
$xlarge-end: upper-bound($xlarge-range);

$xxlarge-start: lower-bound($xxlarge-range);
$xxlarge-end: upper-bound($xxlarge-range);

$small-up: $screen;
$small-only: '#{$screen} and (max-width: #{upper-bound($small-range)})';

$medium-up: '#{$screen} and (min-width:#{lower-bound($medium-range)})';
$medium-only: '#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})';

$large-up: '#{$screen} and (min-width:#{lower-bound($large-range)})';
$large-only: '#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})';

$xlarge-up: '#{$screen} and (min-width:#{lower-bound($xlarge-range)})';
$xlarge-only: '#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})';

$xxlarge-up: '#{$screen} and (min-width:#{lower-bound($xxlarge-range)})';
$xxlarge-only: '#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})';

