@import "src/styles/break-points";

.header {
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  line-height: 1.25;
  color: #616161;
  border-bottom: 3px #616161 solid;
}

.articles {
  display: flex;
}

.byline {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
  color: #616161;
}

.headline {
  font-family: Merriweather;
  font-style: italic;
}

.avatar {
  background-color: #e0dfdf;
  object-fit: contain;
  border-radius: 50%;
}

.primary {
  padding: 20px;
  article {
    height: 100%;
    border-bottom: #e7e7e7 1px solid;
    .cartoon {
      width: 100%;
      margin-bottom: 5px;
    }
    .byline {
      text-align: right;
      margin-bottom: 10px;
    }
  }
}

.secondary {
  padding: 20px;
  article {
    text-align: center;
    height: 100%;
    border-bottom: #e7e7e7 1px solid;

    .avatar {
      width: 140px;
      height: 140px;
    }
    .headline {
      font-size: 24px;
      font-weight: bold;
      color: #222222;
      margin-bottom: 6px;
    }
    .intro {
      font-family: Roboto;
      font-size: 15px;
      color: #333333;
      margin-bottom: 20px;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;

  article {
    box-sizing: border-box;
    height: calc((100% - 70px * 3) / 5 + 70px);
    border-bottom: #e7e7e7 1px solid;
    &:not(:first-child) {
      padding-top: calc((100% - 70px * 3) / 5);
      height: calc(2 * (100% - 70px * 3) / 5 + 70px);
    }

    display: flex;
    flex-direction: row;

    .text {
      flex: 1;

      .headline {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
      }
    }

    .avatar {
      width: 70px;
      height: 70px;
    }
  }
}

@include mobile() {
  .articles {
    flex-direction: column;
  }
  .primary {
    padding: 20px 0 0 0;
  }
  .secondary {
    padding: 20px 0 0 0;
  }
  .list {
    padding: 20px 0 10px 0;
    article {
      padding-bottom: 10px;
    }
  }

  .header {
    padding: 0 10px;
    margin: 0 -10px;
  }
}

@include tablet() {
  .articles {
    flex-direction: column;
  }

  .primary-secondary {
    display: flex;
    .primary {
      flex: 400 0 0;
    }
    .secondary {
      flex: 300 0 0;
    }
  }

  .list {
    flex-direction: row;
    article {
      padding-bottom: 10px;

      &:not(:first-child) {
        padding-top: 0;
        margin-left: 20px;
      }
    }
  }
}

@include desktop() {
  .articles {
    flex-direction: row;
  }

  .primary-secondary {
    display: flex;
    flex: 740 0 0;
    .primary {
      flex: 500 0 0;
    }
    .secondary {
      flex: 240 0 0;
    }
  }

  .list {
    flex: 300 0 0;
  }
}
