<div *ngIf="name === 'ManawatuStandard' && manawatuStandard" [innerHTML]="manawatuStandard"></div>
<div *ngIf="name === 'MarlboroughExpress' && marlboroughExpress" [innerHTML]="marlboroughExpress"></div>
<div *ngIf="name === 'NelsonMail' && nelsonMail" [innerHTML]="nelsonMail"></div>
<div *ngIf="name === 'SouthlandTimes' && southlandTimes" [innerHTML]="southlandTimes"></div>
<div *ngIf="name === 'TaranakiDailyNews' && taranakiDailyNews" [innerHTML]="taranakiDailyNews"></div>
<div *ngIf="name === 'DominionPost' && dominionPost" [innerHTML]="dominionPost"></div>
<div *ngIf="name === 'ThePress' && thePress" [innerHTML]="thePress"></div>
<div *ngIf="name === 'TimaruHerald' && timaruHerald" [innerHTML]="timaruHerald"></div>
<div *ngIf="name === 'WaikatoTimes' && waikatoTimes" [innerHTML]="waikatoTimes"></div>
<div *ngIf="name === 'BeautyHeaven' && beautyHeaven" [innerHTML]="beautyHeaven"></div>
<div *ngIf="name === 'FoodToLove' && foodToLove" [innerHTML]="foodToLove"></div>
<div *ngIf="name === 'HomesToLove' && homesToLove" [innerHTML]="homesToLove"></div>
<div *ngIf="name === 'Metro' && metro" [innerHTML]="metro"></div>
<div *ngIf="name === 'Newsroom' && newsroom" [innerHTML]="newsroom"></div>
<div *ngIf="name === 'Noted' && noted" [innerHTML]="noted"></div>
<div *ngIf="name === 'Now2love' && now2love" [innerHTML]="now2love"></div>
<div *ngIf="name === 'Tarana' && tarana" [innerHTML]="tarana"></div>
