@import "src/styles/break-points";

a {
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
}

.module-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #222;
}

.title {
  margin: 0 20px;
  font-size: 36px;
  font-weight: 900;
  text-transform: lowercase;
  white-space: nowrap;

  @include mobile {
    font-size: 24px;
  }
}
