<div *ngIf="input.linkUrl; then linkModuleTitle; else moduleTitle"></div>
<ng-template #linkModuleTitle>
  <a class="module-title" [attr.href]="input.linkUrl" appOpenExternalLink="{{ input.linkUrl }}" (click)="sendAnalytics()">
    <div class="line"></div>
    <div class="title" [style.color]="input.displayNameColor">{{ input.displayName }}</div>
    <div class="line"></div>
  </a>
</ng-template>
<ng-template #moduleTitle>
  <div class="module-title">
    <div class="line"></div>
    <div *ngIf="input.displayName" class="title" [style.color]="input.displayNameColor">{{ input.displayName }}</div>
    <div class="line"></div>
  </div>
</ng-template>
