@import "src/styles/break-points";
@import "src/styles/spacings";

:host {
  display: block;
  position: sticky;

  @include mobile {
    top: $mobile-masthead-height;
  }
  @include tablet {
    top: $tablet-masthead-height;
  }
  @include desktop {
    top: $desktop-masthead-height;
  }
}
