@import "src/styles/break-points";
@import "src/styles/spacings";

:host {
  display: block;
  height: 100%;
  border-bottom: 1px solid #f0f0f0;
}

div {
  position: sticky;
  margin-bottom: -1px;
  @include mobile {
    top: $mobile-masthead-height;
  }
  @include tablet {
    top: $tablet-masthead-height;
  }
  @include desktop {
    top: $desktop-masthead-height;
  }
}
