:host {
  display: block;
}

h3 {
  font-family: 'Merriweather', 'Lucida Bright', serif;
  font-size: 17px;
  font-size: var(--title-size);
  line-height: 24px;
  font-weight: 700;
  margin: 10px 0;
  &:hover {
    text-decoration: underline;
  }
}
