:host {
  display: block;
}

h3 {
  display: inline;
  vertical-align: middle;
  font-size: 17px;
  font-size: var(--title-size);
  font-weight: 700;
  margin: 0;

  &:hover {
    text-decoration: underline;
  }
}

app-headline-flag + app-headline-flag {
  margin-left: 6px;
}

app-time-ago + app-headline-flag {
  margin-left: 6px;
}
