:host {
  display: block;
  margin: 0 -10px;
}

.video-container {
  display: block;
  position: relative;
  padding-top: 56.25%;
}

.video-player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
