<article itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
  <meta itemprop="position" content="{{ index }}" />
  <a itemprop="url" href="{{ input.linkUrl }}" appOpenExternalLink="{{ input.linkUrl }}" (click)="sendAnalytics()">
    <div class="image" *ngIf="input.imageSrc">
      <ng-container *ngIf="input.layout === 'default'; else moduleImage">
        <img itemprop="image" (error)="input.imageSrc = null" [attr.src]="input.imageSrc" [attr.alt]="input.indexHeadline" loading="auto" [attr.srcset]="input.imageSrcSet ? input.imageSrcSet : null" />
      </ng-container>
      <ng-template #moduleImage>
        <app-fluid-image [imageSrc]="input.imageSrc" [caption]="input.indexHeadline"></app-fluid-image>
      </ng-template>
    </div>
    <app-headline [headline]="input.indexHeadline" [headlineFlags]="input.headlineFlags" [identifier]="input.identifier" [identifierColor]="input.identifierColor"></app-headline>
  </a>
</article>
