<div class="{{ input.displayNameColor }}">
  <div *ngIf="input.linkUrl; else linkUrlNotProvided">
    <a class="headline-link" href="{{ input.linkUrl }}" appOpenExternalLink="{{ input.linkUrl }}">
      <h3>{{ input.displayName }}</h3>
    </a>
  </div>
  <ng-template #linkUrlNotProvided>
    <h3>{{ input.displayName }}</h3>
  </ng-template>
  <ng-container [appContentBlock]="input.visibleItems"></ng-container>
  <ng-container *ngIf="showHiddenItems" [appContentBlock]="input.hiddenItems"></ng-container>
  <div *ngIf="input.linkUrl">
    <a class="more-button" (click)="[sendAnalytics(), toggleHiddenItems()]">More {{ input.displayName }}</a>
  </div>
</div>
