:host {
  display: block;
  color: #000;
  margin-bottom: 30px;
}

h3 {
  font-size: 18px;
  font-size: var(--section-title-size);
  font-weight: 700;
  font-style: normal;
  text-transform: lowercase;
  border-bottom: 1px solid #000;
  color: #000;
  letter-spacing: 2px;
  padding-bottom: 4px;
  margin: 0 0 10px 0;
}

a {
  display: block;
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
}

.more-button {
  color: #4fb7ec;
  border: 1px solid #4fb7ec;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 25px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;

  .arrow {
    fill: #4fb7ec;
  }

  &:hover {
    background-color: #4fb7ec;
    color: #fff;
    .arrow {
      fill: #ffffff;
    }
  }
}

.dropdown {
  width: 16px;
  height: 11px;
  transition: all 0.5s ease;
}

.arrow-up {
  transform: rotate(180deg);
}

//Colours for section straps
.scarlet {
  h3 {
    color: #ff3000;
    border-bottom-color: #ff3000;
  }
}

.darkblue {
  h3 {
    color: #0e468e;
    border-bottom-color: #0e468e;
  }
}

.teal {
  h3 {
    color: #00aaaf;
    border-bottom-color: #00aaaf;
  }
}

.navyblue {
  h3 {
    color: #025798;
    border-bottom-color: #025798;
  }
}

.azureblue {
  h3 {
    color: #0080fd;
    border-bottom-color: #0080fd;
  }
}

.royalblue {
  h3 {
    color: #2f67dc;
    border-bottom-color: #2f67dc;
  }
}

.mediumslateblue {
  h3 {
    color: #624bea;
    border-bottom-color: #624bea;
  }
}

.dingley {
  h3 {
    color: #597149;
    border-bottom-color: #597149;
  }
}

.carribeangreen {
  h3 {
    color: #00c480;
    border-bottom-color: #00c480;
  }
}

.keppel {
  h3 {
    color: #41ad95;
    border-bottom-color: #41ad95;
  }
}

.amaranth {
  h3 {
    color: #e42d53;
    border-bottom-color: #e42d53;
  }
}

.purpleheart {
  h3 {
    color: #8130e4;
    border-bottom-color: #8130e4;
  }
}

.yellowsea {
  h3 {
    color: #fcac00;
    border-bottom-color: #fcac00;
  }
}

.pizzaz {
  h3 {
    color: #fd9200;
    border-bottom-color: #fd9200;
  }
}

.junglegreen {
  h3 {
    color: #2bb192;
    border-bottom-color: #2bb192;
  }
}

.sunglow {
  h3 {
    color: #ffc42a;
    border-bottom-color: #ffc42a;
  }
}

.premiumdark {
  h3 {
    color: #181818;
    border-bottom-color: #181818;
  }
}

.woodsmoke {
  h3 {
    color: #161a1c;
    border-bottom-color: #161a1c;
  }
}

.black {
  h3 {
    color: #000000;
    border-bottom-color: #000000;
  }
}

@media only screen and (min-width: 48em) {
  .more-button {
    display: inline-block;
  }
}
