<div class="{{ input.displayNameColor }}">
  <div *ngIf="input.linkUrl; else linkUrlNotProvided">
    <a class="headline-link" href="{{ input.linkUrl }}" appOpenExternalLink="{{ input.linkUrl }}">
      <h3>{{ input.displayName }}</h3>
    </a>
  </div>
  <ng-template #linkUrlNotProvided>
    <h3>{{ input.displayName }}</h3>
  </ng-template>
  <ng-container [appContentBlock]="input.visibleItems"></ng-container>
  <div class="more-content" [ngStyle]="{ height: showHiddenItems ? height + 'px' : '0px' }">
    <div appResizeObserver (resize)="onResize($event)">
      <ng-container *ngIf="showHiddenItems" [appContentBlock]="input.hiddenItems"></ng-container>
    </div>
  </div>
  <div>
    <a class="more-button" (click)="[sendAnalytics(), toggleHiddenItems()]"
      >{{ showHiddenItems ? 'Less' : 'More' }} {{ input.displayName }}
      <svg class="dropdown" [ngClass]="{ 'arrow-up': showHiddenItems }" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 17">
        <path class="arrow" d="M13.216 16.787L.688 2.841 2.803.726l10.413 11.576L23.699.726l2.085 2.086z"></path>
      </svg>
    </a>
  </div>
</div>
