@import "src/styles/break-points";

.wrapper {
  width: 100%;
  background-color: #1a242a;
  padding: 10px;
}

.cell {
  background-color: #283339;
  margin: 10px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .highlight {
    flex: 3 1 0;
  }

  .three-items {
    flex: 2 1 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    //.grid-cell {
    //  flex: 1 1 0;
    //}
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;

  .cell {
    flex: 1;
  }
}

@include mobile {
  .top {
    display: flex;
    flex-direction: column;
  }

  .bottom {
    display: flex;
    flex-direction: column;
  }
}
