@import "src/styles/break-points";

.wrapper {
  box-sizing: border-box;
  width: 100%;
  background-color: #1a242a;
  padding: 10px;

  @include mobile() {
    margin-bottom: 20px;
  }
  @include tablet() {
    margin-bottom: 40px;
  }
  @include desktop() {
    margin-bottom: 40px;
  }
}

@mixin head($fontSize, $titleTop, $logoWidth, $logoTop) {
  .head {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-top: #{$titleTop};

    span {
      display: inline-flex;
      white-space: nowrap;
      align-items: center;

      color: #ffffff;
      font-size: #{$fontSize};
      font-weight: 700;
      border-left: solid 7px #51d7dd;
      padding-left: 13px;
    }

    a {
      display: inline-flex;
      align-items: center;
      height: 100%;
      width: #{$logoWidth};

      svg {
        max-height: 50px;

        // IE 11 fix
        &.logo {
          width: 25%;
        }
        &.logo-text {
          width: 100%;
        }
      }
    }
  }
}

.top {
  display: flex;
  justify-content: space-between;

  .three-items {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
  }
}

.bottom {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
}

.cell {
  background-color: #283339;
  margin: 10px;
}

@include desktop {
  .top {
    flex-direction: row;

    .cell {
      flex: 6;
    }

    .three-items {
      flex: 5;
      flex-direction: column;
    }
  }

  .bottom {
    flex-direction: row;

    .cell {
      flex-basis: calc(25% - 2 * 10px);
    }
  }

  @include head(31px, 20px, 20%, 14px);
}

@include tablet {
  .top {
    flex-direction: column;

    .three-items {
      flex-direction: row;

      .cell {
        flex: 1;
      }
    }
  }

  .bottom {
    display: none;
  }

  @include head(31px, 10px, 25%, 6px);
}

@include mobile {
  .top {
    flex-direction: column;

    .three-items {
      flex-direction: column;
      .cell:last-child {
        display: none;
      }
    }
  }

  .bottom {
    display: none;
  }

  .wrapper {
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 10px 0;
  }

  .top > .cell {
    margin: 0 0 30px;
  }

  @include head(24px, 8px, 32%, 5px);
}
