.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding: 15px;
  background-color: #f7f7f7;
}

.content {
  flex-grow: 1;

  .homepage-articles {
    padding-bottom: 15px;
  }

  .bullet-list {
    article {
      font-size: 18px;
      color: #222;
    }

    .bullet {
      display: inline-block;
      height: 7px;
      width: 7px;
      background: #333;
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 6px;
    }

    a {
      display: block;
      padding-bottom: 10px;
      text-decoration: none;
      :hover {
        text-decoration: underline;
      }
    }
  }
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
