@import '../../../styles/shared/shared.scss';

/*------------------------------------*\
    logo.CSS
\*------------------------------------*/

._logo__base-styles {
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  color: inherit;
  text-decoration: none;
  padding: 0;
  text-align: center;
  font-size: 16px;
  text-shadow: none;
  border: none;
  vertical-align: middle;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.logo {
  @extend ._logo__base-styles;

  background-size: 100% auto;

  background-image: url('assets/logo--mobile.svg');
  height: 1.2625em;
  width: 2.1875em;
  background-size: contain;
  margin-left: -17px;
  background-position-x: 17px;

  @include media-query(large-up) {
    background-image: url('assets/logo.svg');
    height: 1.5625em;
    width: 4.375em;
    margin-left: 0;
    background-position-x: 0;
  }
}
