$tablet-width: 768px;
$desktop-width: 992px;
$large-screen-width: 1140px;

@mixin mobile {
  @media screen and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin large-screen {
  @media screen and (min-width: #{$large-screen-width}) {
    @content;
  }
}
