/* MERRIWEATHER SANS */

/* Light */
@font-face {
    font-family: "Merriweather Sans";
    src: url('/assets/fonts/webfontkit-20170919-000243/merriweathersans-light.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20170919-000243/merriweathersans-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather Sans";
    src: url('/assets/fonts/webfontkit-20170919-000243/merriweathersans-lightitalic.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20170919-000243/merriweathersans-lightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: "Merriweather Sans";
    src: url('/assets/fonts/webfontkit-20170919-000243/merriweathersans-bold.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20170919-000243/merriweathersans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather Sans";
    src: url('/assets/fonts/webfontkit-20170919-000243/merriweathersans-bolditalic.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20170919-000243/merriweathersans-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}


/* MERRIWEATHER SERIF */

/* Light */
@font-face {
    font-family: "Merriweather";
    src: url('/assets/fonts/webfontkit-20170919-002446/merriweather_light.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20170919-002446/merriweather_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url('/assets/fonts/webfontkit-20170919-002446/merriweather-lightit.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20170919-002446/merriweather-lightit.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: "Merriweather";
    src: url('/assets/fonts/webfontkit-20170919-002446/merriweather-regular.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20170919-002446/merriweather-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Merriweather";
    src: url('/assets/fonts/webfontkit-20170919-002446/merriweather-italic.woff2') format('woff2'),
         url('/assets/fonts/webfontkit-20170919-002446/merriweather-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

