<div class="header">{{ input.displayName }}</div>
<div class="articles">
  <div class="grid-row">
    <article *ngFor="let article of input.articles.slice(0, 2)">
      <a href="{{ article.linkUrl }}" appOpenExternalLink="{{ article.linkUrl }}" (click)="sendAnalytics(article)">
        <div class="headline">{{ article.headline }}</div>
        <img class="image" [src]="article.image.sixteenByNine" />
      </a>
    </article>
  </div>
  <div class="grid-row">
    <article *ngFor="let article of input.articles.slice(2, 4)">
      <a href="{{ article.linkUrl }}" appOpenExternalLink="{{ article.linkUrl }}" (click)="sendAnalytics(article)">
        <div class="headline">{{ article.headline }}</div>
        <img class="image" [src]="article.image.sixteenByNine" />
      </a>
    </article>
  </div>
</div>
