@import "src/styles/break-points";

.header {
  color: #999999;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 5px;
  border-bottom: 3px solid #999999;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #f0f0f0;

  article {
    flex-grow: 1;
    margin-bottom: 10px;
    flex-basis: 21%;

    @include desktop {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    @include tablet {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    @include mobile {
      flex-basis: 46%;

      &:nth-child(odd) {
        margin-right: 10px;
      }
    }
  }

  .headline {
    font-size: 20px;
    font-weight: 700;
    text-transform: lowercase;
    margin-bottom: 6px;
    color: #999999;
  }
}
