:host {
  display: block;

  --title-size: 16px;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.image {
  overflow: hidden;
  margin-bottom: 10px;
}

.headline {
  margin-bottom: 10px;
}

.intro {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

p {
  margin: 0 0 10px 0;
}
