:host {
  display: block;
  border-bottom: 1px solid #edeef1;
  margin-bottom: 10px;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.row {
  flex-wrap: nowrap;
}

.column {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

img {
  max-width: 100%;
  margin-bottom: -4px;
}

.image {
  overflow: hidden;
  margin-bottom: 10px;
}

.intro {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

p {
  margin: 0 0 10px 0;
}
