@import "src/styles/break-points";

:host {
  display: block;
  border-bottom: 1px solid #edeef1;
  padding: 0;
  margin-bottom: 10px;
}

.weather-component {
  position: relative;
}

.location-list-visible {
  z-index: 90;
  .weather-location-list {
    visibility: visible;
    opacity: 1;
    transition: opacity 0s linear;
  }
  .weather-info-arrow {
    transform: rotate(180deg);
  }
}

.weather-info {
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 8px;
  line-height: 20px;
  justify-content: flex-end;
  white-space: nowrap;
  height: 40px;
  align-items: center;
}

.weather-info-arrow {
  margin-left: 8px;
}

.weather-info.row {
  margin: 0;
}

.location-list-header {
  font-size: 17px;
  letter-spacing: 1px;
  border-bottom: 1px solid #333;
  padding: 10px 0 4px;
  margin-bottom: -2.2px;
}

.weather-location-info-label {
  font-weight: 700;
}

.weather-location-list {
  position: absolute;
  margin-left: -10px;
  padding: 0 10px;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
  border-bottom: 1px solid #edeef1;
  z-index: 1;
}

.location-list-left-col,
.region-list-right-col {
  width: 50%;
}

.location-list {
  cursor: pointer;
  position: relative;
  padding-left: 8px;
  ul,
  li {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 15px;
  }
  ul > li:last-child {
    padding-bottom: 17px;
  }
}

.region-name {
  padding: 0 10px 17px 0;
}

.location-name {
  color: #2ba4eb;
  margin-right: 8px;
}

.close-button {
  border-radius: 50%;
  border: solid 2px #333;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: 30px;
  bottom: 60px;
}

.weather-icon {
  margin-right: 8px;
}

.timestamp {
  margin: auto;
  color: #333333;
  font-size: 14px;
}

.kia-ora {
  color: #222222;
  font-size: 20px;
  font-weight: bold;
}

.weather-location {
  color: #222222;
  font-size: 14px;
  font-weight: bold;
  height: 16px;
  line-height: 1;
}

.weather-min-max {
  color: #333333;
  font-size: 12px;
  height: 14px;
  line-height: 1;
}

.weather-temp {
  color: #222222;
  font-size: 30px;
  line-height: 0.67;
  font-weight: 500;
  padding-top: 8px;
  position: relative;
  margin-left: 4px;
  .celsius {
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    bottom: 5px;
    right: 1px;
  }
}

.weather-location-info {
  display: inherit;
  height: 34px;
}

.weather-geo {
  display: inline-block;
  width: 15px;
  padding-top: 5px;
  margin-left: 5px;
  vertical-align: middle;
}

.weather-check-label {
  .weather-geo {
    height: 28px;
  }
}

.sub-header {
  height: 48px;
  padding: 5px 0;
  background-color: #ffffff;
}

@include mobile {
  .kia-ora {
    font-size: 17px;
  }

  .weather-geo {
    display: none;
  }
}
