:host {
  display: block;
  padding: 0 0px;
}

.location-list-visible {
  .weather-location-list {
    display: block;
  }
  .weather-bar-arrow {
    transform: rotate(180deg);
  }
}

.weather-bar {
  font-size: 11px;
  cursor: pointer;
  border-bottom: 1px solid #edeef1;
  height: 30px;
  margin-bottom: 8px;
  line-height: 20px;
  padding-bottom: 8px;
}

.weather-bar-arrow {
  background-image: url('/spade/assets/icons/weather/weather-forecast--dropdown.svg');
  background-size: 12px 12px;
  background-position: center center;
  width: 12px;
  height: 12px;
  transition: all 0.5s ease;
}

.weather-bar.row {
  margin: 0;
}

.location-list-header {
  font-size: 17px;
  letter-spacing: 1px;
  border-bottom: 1px solid #333;
  padding: 10px 0 4px;
  margin-bottom: -2.2px;
}

.weather-location-info-label {
  font-weight: 700;
  margin-right: 3px;
}

.weather-location-list {
  margin-left: -10px;
  padding-left: 10px;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  display: none;
}

.weather-icon {
  height: 28px;
  vertical-align: middle;
}

.tick-icon {
  height: 14px;
  vertical-align: top;
}

.weather-unknown-icon {
  margin-right: 5px;
}

.location-list-left-col,
.region-list-right-col {
  width: 50%;
}

.location-list {
  cursor: pointer;
  position: relative;
  padding-left: 8px;
  ul,
  li {
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 15px;
  }
  ul > li:last-child {
    padding-bottom: 17px;
  }
}

.region-name {
  padding: 0 10px 17px 0;
}

.location-name {
  color: #2ba4eb;
  margin-right: 8px;
}

.close-button {
  background-image: url('/assets/icons/weather/weather-forecast--exit.svg');
  background-size: 28px 28px;
  background-position: center center;
  border-radius: 50%;
  border: solid 2px #333;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  right: 30px;
  bottom: 60px;
}
