@import "src/styles/break-points";

:host {
  display: block;
  border-bottom: 1px solid #f0f0f0;
  height: 100%;
  --title-size: 20px;
}

article {
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  display: flex;
  text-decoration: none;
  height: 100%;
  &:hover {
    text-decoration: none;
  }
}

.intro {
  flex: 1;
  margin-bottom: 20px;
  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #707070;
    margin: 4px 0 0 0;
  }
}

.image {
  width: 100%;
  margin-bottom: 6px;
  .border {
    height: 2px;
  }
}

@mixin portrait {
  flex-direction: column;
}

@mixin landscape {
  flex-direction: row;
  .image {
    margin-right: 15px;
    flex-basis: 33.33%;
  }
  .content {
    flex-basis: 66.66%;
    flex-grow: 1;
  }
  .no-intro.content {
    .intro {
      margin-bottom: 10px;
    }
  }
}

@include mobile {
  .portrait-mobile {
    @include portrait;
  }

  .landscape-mobile {
    @include landscape;
  }
}

@include tablet {
  .portrait-tablet {
    @include portrait;
  }

  .landscape-tablet {
    @include landscape;
  }
}

@include desktop {
  .portrait-desktop {
    @include portrait;
  }

  .landscape-desktop {
    @include landscape;
  }
}

app-time {
  --timestamp-font-weight: 700;
}
