<article itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
  <meta itemprop="position" content="{{ index }}" />
  <a [ngClass]="classNames" itemprop="url" href="{{ input.linkUrl }}" appOpenExternalLink="{{ input.linkUrl }}" (click)="sendAnalytics()">
    <div class="image" *ngIf="input.imageSrc">
      <div class="border" [style.backgroundColor]="input.color"></div>
      <app-fluid-image *ngIf="input.imageSrc" [aspectRatio]="'16:9'" [imageSrc]="input.imageSrc" [caption]="input.headline"></app-fluid-image>
    </div>
    <div class="content" [ngClass]="{ 'no-intro': !input.introText }">
      <div>
        <app-tag-link [color]="input.color" [name]="input.category.name" [url]="input.category.url"></app-tag-link>
      </div>
      <app-headline [headline]="input.headline" [headlineFlags]="input.headlineFlags"></app-headline>
      <div class="intro">
        <p *ngIf="input.introText">{{ input.introText }}</p>
      </div>
      <app-time [timestamp]="input.lastPublishedTime" [showBullet]="true" [fontWeight]="700"></app-time>
    </div>
  </a>
</article>
