.page-header {
    padding: 10px 0;
    margin-bottom: 10px;
    @media (min-width: 768px) {
        margin-bottom: 30px;
    }
    h2 {
        font-weight: 300;
        margin: 0;
    }
    .saved-status {
        font-size: 0.8em;
        color : #999999;
    }
}

.tab-body-gutter {
    @media (min-width: 768px){
        padding: 3% 5%;
    }
}
