@import "src/styles/break-points";

:host {
  display: block;

  --title-size: 24px;

  @include mobile {
    --title-size: 21px;
  }
}

:host(.pumped) {
  --title-size: 38px;

  @include mobile {
    --title-size: 24px;
  }
}

a {
  display: block;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.column {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

img {
  width: 100%;
  margin-bottom: -4px;
}

.image {
  overflow: hidden;
  margin-bottom: 10px;
}

@include desktop {
  .image {
    margin-bottom: 0;
  }
}

.intro {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

p {
  margin: 0 0 10px 0;
}

app-headline {
  margin-bottom: 10px;
  margin-bottom: calc(var(--title-size) * 0.2);
}
