@import '/../styles/shared/shared.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-content {
  margin: #{$navigation-primary-height} 1em 0 1em;
  flex: 1 0 auto;
}

@media only screen and (min-width: 768px) {
  .main-content {
    margin-right: 7.6em;
    margin-left: 7.6em;
  }
}
