@import '/../styles/shared/shared.scss';

.main-content {
  min-height: 100%;
  margin: 0 auto -#{$footer-height};
  padding: #{$navigation-primary-height} 15em #{$footer-height} 15em;
}

@media only screen and (max-width: 768px) {
  .main-content {
    padding: #{$navigation-primary-height} 1em #{$footer-height} 1em;
  }
}
