<article itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
  <meta itemprop="position" content="{{ index }}" />
  <a itemprop="url" href="{{ input.linkUrl }}" appOpenExternalLink="{{ input.linkUrl }}" (click)="sendAnalytics()">
    <div class="image">
      <app-fluid-image [imageSrc]="input.imageSrc" [caption]="input.indexHeadline"></app-fluid-image>
    </div>
    <div [appGlobalStyle]="boxStyle">
      <app-headline [textColor]="input.textColor" [headline]="input.indexHeadline" [headlineFlags]="input.headlineFlags"></app-headline>
      <p class="intro">{{ input.introText }}</p>
      <app-time-ago [textColor]="input.textColor" [timestamp]="input.lastPublishedTime"></app-time-ago>
    </div>
  </a>
</article>
