@import "src/styles/break-points";

:host {
  display: block;
  height: 100%;

  --title-size: 24px;

  @include mobile {
    --title-size: 21px;
  }
}

:host(.pumped) {
  height: 100%;

  --title-size: 38px;

  @include mobile {
    --title-size: 24px;
  }
}

article {
  height: 100%;
}

img {
  width: 100%;
  display: block;
}

a {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

app-headline {
  margin-bottom: 10px;
  margin-bottom: calc(var(--title-size) * 0.2);
}

.intro {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

p {
  margin: 0;
}
