<article itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
  <meta itemprop="position" content="{{ index }}" />
  <div class="wrapper">
    <a itemprop="url" href="{{ input.linkUrl }}" appOpenExternalLink="{{ input.linkUrl }}" (click)="sendAnalytics()">
      <div *ngIf="input.imageSrc">
        <div class="image">
          <img itemprop="image" (error)="input.imageSrc = null" src="{{ input.imageSrc }}" alt="{{ input.indexHeadline }}" loading="auto" [attr.srcset]="input.imageSrcSet ? input.imageSrcSet : null" />
        </div>
      </div>
      <app-headline class="headline" [headline]="input.indexHeadline" [headlineFlags]="input.headlineFlags"></app-headline>
      <p>
        <app-time-ago [timestamp]="input.lastPublishedTime"></app-time-ago>
        <span class="intro">{{ input.introText }}</span>
      </p>
    </a>
  </div>
</article>
