@import "src/styles/break-points";

:host {
  display: block;

  --title-size: 21px;

  @include desktop {
    --title-size: 24px;
  }
}

:host(.pumped) {
  --title-size: 24px;

  @include desktop {
    --title-size: 38px;
  }
}

a {
  display: block;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.row {
  flex-wrap: nowrap;
}

.column {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

img {
  width: 100%;
  margin-bottom: -4px;
}

.image {
  overflow: hidden;
}

.intro {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

p {
  margin: 0;
}

app-headline {
  margin: 10px 0;
  margin: calc(var(--title-size) / 2) 0;
}
