:host {
  --title-size: 16px;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.image {
  width: 100%;
  margin-bottom: 10px;
}

app-headline {
  margin-bottom: 10px;
}
