div {
  font-size: 40px;
  padding-left: 20px;
  text-transform: lowercase;
  font-weight: 900;
  border-bottom: 4px solid;

  a {
    text-decoration: none;
  }
}

.variation-noline {
  border: none;
  padding-left: 0;
}


