@import "src/styles/break-points";
@import "src/styles/spacings";

div {
  padding-left: 10px;
  border-bottom: 3px solid;
  font-size: 40px;
  font-weight: 900;
  text-transform: lowercase;

  a {
    text-decoration: none;
  }

  @include mobile {
    margin-left: -$mobile-page-margin;
    margin-right: -$mobile-page-margin;
    padding-left: $mobile-page-margin;
  }

  @include tablet {
    margin-left: -$tablet-page-margin;
    margin-right: -$tablet-page-margin;
    padding-left: $tablet-page-margin;
  }

  @include desktop {
    margin-left: -$desktop-page-margin;
    margin-right: -$desktop-page-margin;
    padding-left: $desktop-page-margin;
  }
}

.variation-smaller {
  font-size: 30px;
  border-bottom: 3px solid;
}

.variation-smallernoline {
  font-size: 30px;
  border: none;
}
