:host {
  display: block;
  margin: 0 -10px 10px -10px;
}

img {
  width: 100%;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

.intro {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

p {
  margin: 0;
}
