<article [ngClass]="classNames" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
  <meta itemprop="position" content="{{ index }}" />
  <a [ngClass]="classNames" itemprop="url" href="{{ input.linkUrl }}" appOpenExternalLink="{{ input.linkUrl }}" (click)="sendAnalytics()">
    <div class="image">
      <div class="border" [style.backgroundColor]="input.color"></div>
      <app-fluid-image [imageSrc]="input.image?.mobile.src" [aspectRatio]="input.image?.mobile.aspectRatio" [caption]="input.headline"></app-fluid-image>
    </div>
    <div class="content">
      <div>
        <app-tag-link [color]="input.color" [name]="input.category.name" [url]="input.category.url"></app-tag-link>
      </div>
      <app-headline [headline]="input.headline" [headlineFlags]="input.headlineFlags"></app-headline>
      <div class="intro">
        <p *ngIf="input.introText">{{ input.introText }}</p>
      </div>
      <app-time [timestamp]="input.lastPublishedTime" [showBullet]="true"></app-time>
    </div>
  </a>
</article>
