@import "src/styles/break-points";

:host {
  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: #f7f7f7;
  height: 80px;
  overflow-y: hidden;
  padding: 0 10px;

  @include mobile {
    margin: 0 -10px 20px;
    height: 70px;
  }
}

.active {
  background-color: #616161;
}

.inactive {
  background-color: #e8e8e8;
}

.left-button {
  position: absolute;
  top: 24px;
  left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  @include desktop {
    display: none;
  }

  @include mobile {
    top: 20px;
  }
}

.left-arrow {
  position: absolute;
  top: 6px;
  left: 6px;
  fill: #ffffff;
  background-size: 16px 16px;
  width: 18px;
  height: 18px;
}

.right-button {
  position: absolute;
  top: 24px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  @include desktop {
    display: none;
  }

  @include mobile {
    top: 20px;
  }
}

.right-arrow {
  position: absolute;
  top: 6px;
  right: 6px;
  fill: #ffffff;
  background-size: 16px 16px;
  width: 18px;
  height: 18px;
}

.articles {
  display: flex;
  height: 100px;
  justify-content: space-around;

  @include mobile {
    justify-content: flex-start;
    margin: 0 45px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  @include tablet {
    justify-content: flex-start;
    margin: 0 45px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  article {
    flex: 0 0;
    box-sizing: border-box;
    padding: 0 5px;

    @include mobile {
      flex-basis: 100%;
      scroll-snap-align: start;
    }

    @include tablet {
      flex-basis: 50%;
      scroll-snap-align: start;
    }

    @include desktop {
      flex-basis: 25%;
    }

    > a {
      text-decoration: none;
      :hover {
        text-decoration: underline;
      }

      display: flex;
      align-items: center;
      height: 80px;

      @include mobile {
        height: 70px;
      }

      .left-column {
        flex-shrink: 0;
        margin-right: 10px;
        background-color: #e0dfdf;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        overflow: hidden;

        @include mobile {
          width: 60px;
          height: 60px;
        }
      }

      .right-column {
        height: 50px;
        overflow-y: hidden;

        .byline {
          font-size: 12px;
          font-weight: 900;
          line-height: 1.33;
          color: #2b2b2b;
          opacity: 0.9;
          text-transform: lowercase;
        }

        .headline {
          font-size: 15px;
          letter-spacing: 0.3px;
          font-weight: 300;
        }
      }
    }
  }
}
