<div itemscope itemtype="https://schema.org/WebPage">
  <meta
    itemprop="name"
    content="Latest breaking news NZ | Stuff.co.nz | New Zealand"
  />
  <meta
    itemprop="description"
    content="Breaking news and videos of today's latest news stories from around New Zealand, including up to date weather, World, sport, business, Entertainment, Technology Life and Style, Travel and motoring."
  />
</div>
<div itemscope itemtype="https://schema.org/ItemList">
  <ng-container
    class="page-container"
    [appContentBlock]="contentBlocks"
  ></ng-container>
</div>
