<app-logo name="ManawatuStandard"></app-logo>
<app-logo name="ManawatuStandard"></app-logo>
<app-logo name="MarlboroughExpress"></app-logo>
<app-logo name="NelsonMail"></app-logo>
<app-logo name="SouthlandTimes"></app-logo>
<app-logo name="TaranakiDailyNews"></app-logo>
<app-logo name="DominionPost"></app-logo>
<app-logo name="ThePress"></app-logo>
<app-logo name="TimaruHerald"></app-logo>
<app-logo name="WaikatoTimes"></app-logo>
<app-logo name="BeautyHeaven"></app-logo>
<app-logo name="FoodToLove"></app-logo>
<app-logo name="HomesToLove"></app-logo>
<app-logo name="Metro"></app-logo>
<app-logo name="Newsroom"></app-logo>
<app-logo name="Noted"></app-logo>
<app-logo name="Now2love"></app-logo>
<app-logo name="Tarana"></app-logo>

<div itemscope itemtype="https://schema.org/ItemList" class="page-container">
  <ng-container [appContentBlock]="contentBlocks"></ng-container>
</div>

<div itemscope itemtype="https://schema.org/WebPage">
  <meta itemprop="name" content="Latest breaking news NZ | Stuff.co.nz | New Zealand" />
  <meta itemprop="description" content="Breaking news and videos of today's latest news stories from around New Zealand, including up to date weather, World, sport, business, Entertainment, Technology Life and Style, Travel and motoring." />
</div>

<div itemscope itemtype="http://schema.org/Organization">
  <meta itemprop="name" content="Stuff" />
  <meta itemprop="logo" content="https://static2.stuff.co.nz/1388043522/194/9555194.png" />
  <link itemprop="url" href="https://www.stuff.co.nz" />
  <link itemprop="sameAs" href="https://www.facebook.com/Stuff.co.nz/" />
  <link itemprop="sameAs" href="https://twitter.com/nzstuff?lang=en" />
  <link itemprop="sameAs" href="https://www.instagram.com/nzstuff/?hl=en" />
  <link itemprop="sameAs" href="https://www.youtube.com/channel/UCZgnsVbXJPZRg5kmtKyq6Ew" />
</div>
