:host {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.time {
  font-size: 10px;
  vertical-align: top;
  display: inline-block;
  font-weight: normal;
}

.separator {
  margin: 0 4px;
  background-color: #afbec6;
  display: inline-block;
  width: 1px;
  height: 11px;
}
