:host {
  display: inline;
  --timestamp-color: #d12421;
  --timestamp-font-size: 16px;
  --timestamp-font-weight: normal;
}

.wrapper {
  display: inline-flex;
  align-items: center;
}

.time {
  vertical-align: top;
  display: inline-block;
  color: #d12421;
  color: var(--timestamp-color);
  font-size: 12px;
  font-size: var(--timestamp-font-size);
  font-weight: normal;
  font-weight: var(--timestamp-font-weight);
}

.separator {
  margin: 0 4px;
  background-color: #afbec6;
  display: inline-block;
  width: 1px;
  height: 11px;
}

.bullet {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  height: 5px;
  width: 5px;
  padding: 1px;
  border-radius: 50%;
  border: 1px solid;
  background-clip: content-box;
  background-color: #d12421;
  background-color: var(--timestamp-color);
  border-color: #d12421;
  border-color: var(--timestamp-color);
}
