:host {
  display: block;
  margin: 0 -10px 12px -10px;
}
.breaking-news {
  display: flex;
  align-items: center;

  background-color: #d12421;
  color: #ffffff;
  transition: opacity 0.25s ease-in-out, max-height 0.25s ease-in-out;

  a {
    text-decoration: none;
    &:active,
    &:hover,
    &:link,
    &:visited {
      color: #ffffff;
    }
  }

  .link {
    flex-grow: 1;
    display: block;
    padding: 12px 0 12px 12px;

    .text {
      line-height: 1.5;
    }
  }

  .dismiss {
    padding: 12px;
    font-size: 28px;
    user-select: none;
    cursor: pointer;
    outline: none;
  }
}
