.breaking-news {
  background-color: #d12421;
  color: #ffffff;

  transition: opacity 0.25s ease-in-out, max-height 0.25s ease-in-out;
  position: relative;
  margin: 0 -10px 17px -10px;

  a {
    text-decoration: none;
    &:active,
    &:hover,
    &:link,
    &:visited {
      color: #ffffff;
    }
  }

  .link {
    display: block;
    padding: 17px;

    .title {
      margin: 0 0 10px 0;
      font-size: 17px;
      line-height: 1.2;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    .text {
      line-height: 1.5;
    }
  }

  .dismiss {
    cursor: pointer;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0px;
    width: 35px;
    height: 35px;
    padding: 6px;
    z-index: 1;
    outline: none;
    text-align: center;
    vertical-align: middle;
    &:before {
      content: '\00d7';
      font-size: 35px;
    }
  }
}
