<div class="wrapper" [ngClass]="classNames" [class.highlight]="highlight" data-id="{{ id }}">
  <a class="image-logo" [href]="url">
    <img [src]="image" alt="{{ text }}" />
    <div class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
        <defs/>
        <linearGradient id="a" x1="1.85" x2="1.85" y1="13.94" y2=".06" gradientUnits="userSpaceOnUse">
          <stop offset=".25" stop-color="#f7a01e"/>
          <stop offset=".41" stop-color="#fad208"/>
          <stop offset=".66" stop-color="#c3cd32"/>
          <stop offset=".85" stop-color="#75be68"/>
          <stop offset=".94" stop-color="#43b97b"/>
          <stop offset=".94" stop-color="#40b883"/>
          <stop offset=".98" stop-color="#2ab4ad"/>
          <stop offset="1" stop-color="#19b3be"/>
        </linearGradient>
        <path fill="url(#a)" d="M2.28 13.36l-.86.58V.06l.86.58z"/>
        <linearGradient id="b" x1="-71.06" x2="-71.06" y1="165.42" y2="151.54" gradientTransform="rotate(-60 -165.8 13.4)" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#5c62ac"/>
          <stop offset=".09" stop-color="#5b63ad"/>
          <stop offset=".15" stop-color="#5a68b0"/>
          <stop offset=".2" stop-color="#5770b6"/>
          <stop offset=".25" stop-color="#527bbd"/>
          <stop offset=".29" stop-color="#4a89c8"/>
          <stop offset=".33" stop-color="#3d9bd6"/>
          <stop offset=".66" stop-color="#19b3be"/>
          <stop offset=".69" stop-color="#25b4b4"/>
          <stop offset=".79" stop-color="#35b59b"/>
          <stop offset=".87" stop-color="#3db78a"/>
          <stop offset=".95" stop-color="#41b87f"/>
          <stop offset="1" stop-color="#43b97b"/>
        </linearGradient>
        <path fill="url(#b)" d="M13.44 7h-1.72L2.28 1.47 1.42.06z"/>
        <linearGradient id="c" x1="64.27" x2="64.27" y1="103.38" y2="89.51" gradientTransform="rotate(-120 10.81 69.74)" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#5c62ac"/>
          <stop offset=".12" stop-color="#615faa"/>
          <stop offset=".26" stop-color="#6e58a3"/>
          <stop offset=".33" stop-color="#76529f"/>
          <stop offset=".66" stop-color="#ed5326"/>
          <stop offset=".67" stop-color="#ed5626"/>
          <stop offset=".86" stop-color="#f48d22"/>
          <stop offset=".94" stop-color="#f7a01e"/>
        </linearGradient>
        <path fill="url(#c)" d="M11.72 7h1.72L1.42 13.94l.86-1.49z"/>
      </svg>
    </div>
  </a>
  <div class="text">{{ text }}</div>
</div>
