@import "src/styles/break-points";

.wrapper {
  display: flex;
}

.text {
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
}

.image-logo {
  position: relative;
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .logo {
    position: absolute;
    bottom: 5%;
    left: 3%;
    width: 5%;
    padding: 2%;
    border-radius: 50%;
    background: #19242a;

    img {
      margin-left: 10%;
    }
  }
}

.highlight {
  .text {
    font-size: 20px;
    line-height: 24px;
  }
}

@mixin landscape {
  flex-direction: row;
  align-items: start;
  .image-logo,
  .text {
    flex: 1 1 0;
  }
}

@mixin portrait {
  flex-direction: column;
  justify-content: stretch;
}

@include mobile {
  .landscape-mobile {
    @include landscape;
  }

  .portrait-mobile {
    @include portrait;
  }
}

@include tablet {
  .landscape-tablet {
    @include landscape;
  }

  .portrait-tablet {
    @include portrait;
  }
}

@include desktop {
  .landscape-desktop {
    @include landscape;
  }

  .portrait-desktop {
    @include portrait;
  }
}
