<div class="wrapper" [ngClass]="classNames" [class.highlight]="highlight" data-id="{{ id }}">
  <a class="image-logo" [href]="url">
    <div class="image">
      <img [src]="image" alt="{{ text }}" loading="lazy"/>
    </div>
    <div class="logo">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
        <defs>
          <linearGradient id="svg_a" x1="1.851" x2="1.851" y1="13.935" y2=".065" gradientUnits="userSpaceOnUse">
            <stop offset=".249" stop-color="#f7a01e" />
            <stop offset=".409" stop-color="#fad208" />
            <stop offset=".658" stop-color="#c3cd32" />
            <stop offset=".846" stop-color="#75be68" />
            <stop offset=".938" stop-color="#43b97b" />
            <stop offset=".945" stop-color="#40b883" />
            <stop offset=".983" stop-color="#2ab4ad" />
            <stop offset="1" stop-color="#19b3be" />
          </linearGradient>
          <linearGradient id="svg_b" x1="-71.06" x2="-71.06" y1="165.415" y2="151.545" gradientTransform="rotate(-60 -165.794 13.402)" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#5c62ac" />
            <stop offset=".089" stop-color="#5b63ad" />
            <stop offset=".149" stop-color="#5a68b0" />
            <stop offset=".2" stop-color="#5770b6" />
            <stop offset=".246" stop-color="#527bbd" />
            <stop offset=".289" stop-color="#4a89c8" />
            <stop offset=".327" stop-color="#3d9bd6" />
            <stop offset=".658" stop-color="#19b3be" />
            <stop offset=".694" stop-color="#25b4b4" />
            <stop offset=".788" stop-color="#35b59b" />
            <stop offset=".873" stop-color="#3db78a" />
            <stop offset=".947" stop-color="#41b87f" />
            <stop offset="1" stop-color="#43b97b" />
          </linearGradient>
          <linearGradient id="svg_c" x1="64.267" x2="64.267" y1="103.384" y2="89.514" gradientTransform="rotate(-120 10.812 69.743)" gradientUnits="userSpaceOnUse">
            <stop offset="0" stop-color="#5c62ac" />
            <stop offset=".119" stop-color="#615faa" />
            <stop offset=".258" stop-color="#6e58a3" />
            <stop offset=".327" stop-color="#76529f" />
            <stop offset=".658" stop-color="#ed5326" />
            <stop offset=".668" stop-color="#ed5626" />
            <stop offset=".856" stop-color="#f48d22" />
            <stop offset=".943" stop-color="#f7a01e" />
          </linearGradient>
        </defs>
        <path fill="url(#svg_a)" d="M2.28 13.36l-.86.58V.06l.86.58z" />
        <path fill="url(#svg_b)" d="M13.44 7h-1.72L2.28 1.47 1.42.06z" />
        <path fill="url(#svg_c)" d="M11.72 7h1.72L1.42 13.94l.86-1.49z" />
      </svg>
    </div>
  </a>
  <a class="text" [href]="url">{{ text }}</a>
</div>
