@import '~normalize.css/normalize.css';
@import '~flexboxgrid';
@import 'styles/shared/shared.scss';
@import 'styles/base/typography.scss';
@import 'styles/base/links.scss';
@import 'styles/fonts/merriweather.scss';

/**
 * HTML
 */

html {
  box-sizing: border-box;
  height: 100%;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-align: #{$dir-default};
  color: $base-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-white;
  color: $color-neutral-primary;
  height: 100%;
  margin: 0;
}

ins {
  border-bottom: none;
}

p {
  margin: 0 0 0.7rem;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
}

button,
input,
select,
textarea {
  font-family: $base-font-family;
}
