@import "~normalize.css/normalize.css";

.container {
  width: 100%;
}

@import "~flexboxgrid";
@import "spade/assets/fonts/merriweather.scss";
@import "spade/assets/fonts/merriweather-sans.scss";

:root {
  --title-size: 17px;
  --section-title-size: 17px;
}

@media only screen and (min-width: 375px) {
  :root {
    --title-size: 19px;
    --section-title-size: 18px;
  }
}

@media only screen and (min-width: 728px) {
  :root {
    --section-title-size: 20px;
  }
}

body {
  overflow: auto;
  &.noScroll {
    overflow: hidden;
    [apphideheader] {
      transform: translateY(0) !important;
    }
  }
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Merriweather Sans", "Open Sans", sans-serif;
  font-weight: 300;
}

.color-bar {
  height: 3px;
  background-image: linear-gradient(
    90deg,
    #ff4e00 13%,
    #fcd300 33%,
    #00c580 50%,
    #00a2fc 67%,
    #8130e4 87%
  );
}

@media only screen and (max-width: 767.999px) {
  .container {
    width: 767.999px;
    max-width: 767.999px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.999px) {
  .container {
    width: 991.999px;
    max-width: 991.999px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 992px;
    max-width: 1120px;
  }
}

app-basic-ad-unit,
app-basic-ad-unit iframe {
  max-width: 100%;
}
