@import '~normalize.css/normalize.css';
@import '~flexboxgrid';
@import 'spade/assets/fonts/merriweather.scss';
@import 'spade/assets/fonts/merriweather-sans.scss';

body {
  overflow: overlay;
  &.noScroll {
    overflow: hidden;
    [apphideheader] {
      transform: translateY(0) !important;
    }
  }
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Merriweather Sans', 'Open Sans', sans-serif;
}

article {
  border-bottom: 1px solid #edeef1;
}

.color-bar {
  height: 3px;
  background-image: linear-gradient(
    90deg,
    #ff4e00 13%,
    #fcd300 33%,
    #00c580 50%,
    #00a2fc 67%,
    #8130e4 87%
  );
}
@media only screen and (min-width: 48em) {
  .container {
    width: 47rem;
  }
}

@media only screen and (min-width: 64em) {
  .container {
    width: 63rem;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 74rem;
  }
}
