<div class="page-header mat-elevation-z8">
    <div class="container" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="">
        <h1>My Stuff</h1>
    </div>
    <div class="container" fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="">
        <!-- <button mat-raised-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon> 
        </button>
        <nav mat-tab-nav-bar [backgroundColor]="background">
            <a mat-tab-link *ngFor="let link of links; let i = index"
                [routerLink]="/{{link}}"
                [routerLinkActive] #rla="routerLinkActive"
                [routerLinkActiveOptions]="{exact: true}"
                [active]="activeLinkIndex === i"
                (click)="activateLink(i, rla.isActive)">{{link}}</a>
          </nav> -->
    </div>
  </div>