aside {
  font-size: 2em;
  color: #ff3333;
  flex: 1;
  background-image: url('/images/wireframe-blog-page-desktop.jpg');
}

main {
  font-size: 1em;
  flex: 1;
}

.container {
  display: flex;
  align-items: center;
}
