body {
  font-family: 'Abel', sans-serif;
}

aside {
  font-size: 2em;
  color: #ff3333;
  flex: 1;
  height: 100%;
  width: 100%;
  float: left;
  background-image: url('../images/sherly-aside.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

main {
  font-size: 1em;
  flex: 1;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-top: 40%;
  color: #ffffff;
}

h3 {
  text-align: center;
  margin-bottom: 40%;
  color: #ffffff;
}
.icons {
  text-align: center;
  margin-top: 30%;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  margin-bottom: 5%;
}

.icons img {
  width: 50px;
  height: 50px;
}
