<article itemscope itemtype="https://schema.org/Article">
  <a
    href="{{ input.linkUrl }}"
    appOpenExternalLink="{{ input.linkUrl }}"
    (click)="sendAnalytics()"
  >
    <app-headline [headline]="input.indexHeadline"></app-headline>
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-4 column">
        <div class="image">
          <img
            itemprop="image"
            src="{{ input.imageSrc }}"
            alt="{{ input.indexHeadline }}"
          />
        </div>
      </div>
      <div class="col-md-10 col-sm-9 col-xs-8 column">
        <p>
          <span class="time-ago">{{
            input.lastPublishedTime * 1000 | amTimeAgo
          }}</span>
          <span class="separator"></span> <span>{{ input.introText }}</span>
        </p>
      </div>
    </div>
  </a>

  <meta itemprop="author" content="{{ input.author }}" />
  <div
    itemprop="publisher"
    itemscope
    itemtype="https://schema.org/Organization"
  >
    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
      <meta itemprop="url" content="https://google.com/logo.jpg" />
    </div>
    <meta itemprop="name" content="Stuff" />
  </div>
  <meta itemprop="datePublished" content="{{ getISODate() }}" />
  <meta itemprop="dateModified" content="{{ getISODate() }}" />
</article>
