<article *ngIf="input">
  <a class="article-unit" href="{{ input.linkUrl }}">
    <h3 class="title">{{ input.indexHeadline }}</h3>
    <div class="image-and-intro">
      <img src="{{ input.imageSrc }}" alt="{{ input.indexHeadline }}" />
      <div class="intro-text">
        <p>
          <span class="time-ago">{{
            input.lastPublishedTime * 1000 | timeAgo
          }}</span>
          <span class="separator"> |</span> {{ input.introText }}
        </p>
      </div>
    </div>
  </a>
</article>
