article {
  border-bottom: 1px solid #edeef1;
}

a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  color: rgb(43, 164, 235);
  margin: 10px 0;
  &:hover {
    text-decoration: underline;
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image {
  width: 138px;
  height: 73px;
  border: 1px solid #999;
}

.separator {
  margin: 0 4px;
  background-color: #afbec6;
  display: inline-block;
  width: 1px;
  height: 11px;
}

.time-ago {
  color: #d12421;
  font-size: 10px;
}

p {
  margin: 0;
}

.row {
  flex-wrap: nowrap;
}

.intro {
  margin-left: 10px;
}
