article {
  border-bottom: 1px solid #edeef1;
}

a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}

img {
  width: 100%;
  margin-bottom: -4px;
}

.image {
  overflow: hidden;
}

.separator {
  margin: 0 4px;
  background-color: #afbec6;
  display: inline-block;
  width: 1px;
  height: 11px;
}

.time-ago {
  color: #d12421;
  font-size: 10px;
  vertical-align: top;
  padding-top: 3px;
  display: inline-block;
}

p {
  margin: 0;
}

@media only screen and (max-width: 23em) {
  .column {
    flex-basis: 100%;
    max-width: 100%;
  }
}
