<article itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
  <meta itemprop="position" content="{{ index }}" />
  <a itemprop="url" href="{{ input.linkUrl }}" appOpenExternalLink="{{ input.linkUrl }}" (click)="sendAnalytics()">
    <app-headline [headline]="input.indexHeadline"></app-headline>
    <div class="row">
      <div class="col-md-2 col-sm-3 col-xs-4 column">
        <div class="image">
          <img itemprop="image" src="{{ input.imageSrc }}" alt="{{ input.indexHeadline }}" loading="lazy" [attr.srcset]="input.imageSrcSet ? input.imageSrcSet : null" />
        </div>
      </div>
      <div class="col-md-10 col-sm-9 col-xs-8 column">
        <p>
          <span class="time-ago">{{ input.lastPublishedTime * 1000 | amTimeAgo }}</span>
          <span class="separator"></span>
          <span class="intro">{{ input.introText }}</span>
        </p>
      </div>
    </div>
  </a>
</article>
