//------------------------------------*\
//   $ BASIC ARTICLE UNIT
//------------------------------------*/

.article-unit {
  &__title {
    margin-bottom: 0.5em;
    font-size: 1em;
    color: rgb(43, 164, 235);
  }
}

.image-and-intro {
  padding-bottom: 0.9em;
  border-bottom: 1px solid #edeef1;

  img {
    margin-right: 0.5em;
    width: 110px;
    height: 73px;
  }
}

.intro-text {
  display: inline-block;
  vertical-align: top;

  p {
    color: black;
    :hover {
      text-decoration: none;
    }
  }

  &__time-ago {
    vertical-align: middle;
    color: #d12421;
    font-size: 10px;
  }

  &__separator {
    color: #afbec6;
    font-size: 10px;
  }
}
