<div class="{{ input.displayNameColor }}">
  <div *ngIf="input.linkUrl; else linkUrlNotProvided">
    <a class="headline-link" href="{{ input.linkUrl }}">
      <h3>{{ input.displayName }}</h3>
    </a>
  </div>
  <ng-template #linkUrlNotProvided>
    <h3>{{ input.displayName }}</h3>
  </ng-template>
  <ng-container [appContentBlock]="input.items"></ng-container>
  <div *ngIf="input.linkUrl">
    <a class="more-button" href="{{ input.linkUrl }}" (click)="sendAnalytics()">More {{ input.displayName }}</a>
  </div>
</div>
