<div class="{{ input.displayNameColor }}">
  <ng-template [ngIf]="input.linkUrl">
    <a class="headlineLink" href="{{ input.linkUrl }}">
      <h3>{{ input.displayName }}</h3>
    </a>
  </ng-template>
  <ng-template [ngIf]="!input.linkUrl">
    <h3>{{ input.displayName }}</h3>
  </ng-template>
  <ng-container [appContentBlock]="input.items"></ng-container>
  <div *ngIf="input.linkUrl">
    <a class="more" href="{{ input.linkUrl }}" (click)="sendAnalytics()"
      >More {{ input.displayName }}</a
    >
  </div>
</div>
