:host {
  display: block;
  margin-top: 20px;
  color: #000;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  text-transform: lowercase;
  border-bottom: 1px solid #000;
  color: #000;
  letter-spacing: 2px;
  padding-bottom: 4px;
}

a {
  display: block;
  text-decoration: none;
  :hover {
    text-decoration: none;
  }
}

.more-button {
  color: #4fb7ec;
  border: 1px solid #4fb7ec;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 4px;
  margin: 20px 0 0 0;
  padding: 10px 25px;
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;

  &:hover {
    background-color: #4fb7ec;
    color: #fff;
  }
}

//Colours for section straps
.scarlet {
  h3 {
    color: #ff3000;
    border-bottom-color: #ff3000;
  }
}

.darkblue {
  h3 {
    color: #0e468e;
    border-bottom-color: #0e468e;
  }
}

.teal {
  h3 {
    color: #00aaaf;
    border-bottom-color: #00aaaf;
  }
}

.toreabay {
  h3 {
    color: #0e468e;
    border-bottom-color: #0e468e;
  }
}

.azureblue {
  h3 {
    color: #0080fd;
    border-bottom-color: #0080fd;
  }
}

.royalblue {
  h3 {
    color: #2f67dc;
    border-bottom-color: #2f67dc;
  }
}

.dingley {
  h3 {
    color: #597149;
    border-bottom-color: #597149;
  }
}

.carribeangreen {
  h3 {
    color: #00c480;
    border-bottom-color: #00c480;
  }
}

.keppel {
  h3 {
    color: #41ad95;
    border-bottom-color: #41ad95;
  }
}

.amaranth {
  h3 {
    color: #e42d53;
    border-bottom-color: #e42d53;
  }
}

.purpleheart {
  h3 {
    color: #8130e4;
    border-bottom-color: #8130e4;
  }
}

.yellowsea {
  h3 {
    color: #fcac00;
    border-bottom-color: #fcac00;
  }
}

.pizzaz {
  h3 {
    color: #fd9200;
    border-bottom-color: #fd9200;
  }
}

.junglegreen {
  h3 {
    color: #2bb192;
    border-bottom-color: #2bb192;
  }
}

.sunglow {
  h3 {
    color: #ffc42a;
    border-bottom-color: #ffc42a;
  }
}

@media only screen and (min-width: 48em) {
  .more-button {
    display: inline-block;
  }
}
