<div class="wrapper">
  <app-module-header [input]="{ title: input.displayName, color: input.color, variation: 'SmallerNoLine' }"></app-module-header>
  <a class="article" *ngFor="let article of input.articles" [href]="article.linkUrl" (click)="sendAnalytics(article.id, article.title)">
    <span class="bullet" [ngStyle]="{ background: input.color, 'box-shadow': '0 0 0 1px ' + input.color }"></span>
    <span class="time">{{ article.lastPublishedTime * 1000 | date: "h:mma" | lowercase }}</span>
    <app-headline textColor="#333" [headline]="article.headline" [headlineFlags]="article.headlineFlags"></app-headline>
  </a>
</div>
