@import '../shared/variables.scss';
@import '../shared/mixins.scss';

/*------------------------------------*\
    LINKS.CSS
\*------------------------------------*/

a {
    @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
    text-decoration: none;

    @if $link-underline {
        text-decoration: underline;
    }

    @if $link-underline-on-hover {
        &:hover {
            text-decoration: underline;
        }
    }
}

