@import '../shared/variables.scss';
@import '../shared/mixins.scss';

/*------------------------------------*\
    TYPOGRAPHY.CSS
\*------------------------------------*/

/**
 * typefaces
 */

.text--body {
    font-family: $base-font-family;
}

.text--display {
    font-family: $heading-font-family;
}

/**
 * Font sizes
 */

p, span, li,
.ad {
    font-size: $delta;
    line-height: $line-height-delta;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include rem(margin-bottom, 0.5);
    font-family: $heading-font-family;
    font-weight: normal;
    line-height: 1.25;
}


/**
 * Strong styles
 */

strong, b {
    font-weight: 600;
}

/**
 * Special text
 */

.text--sub {
    vertical-align: sub;
    font-weight: 300;
    @include font-size-adapt(9px, 10px);
}

// Display bold, red text that can stand out to the user
.text--warning {
  color: $color-text-warning;
  font-weight: $bold-font-weight;
}

/**
 * Blockquote
 */

blockquote {
    @include font-size-adapt(16px, 20px);
    font-style: italic;
    padding: 1em;
}

