:host {
  flex: 1 0 auto;
  display: block;
}

.container {
  margin: 0;
  padding: 0 3px;
}

.content {
  display: flex;
  margin: 58px 0 10px 0;
}

.rich-media-top {
  height: 15px;
  background-color: #1a1e20;
}

.rich-media-left {
  flex: 1;
  min-width: 10px;
  background-color: #1a1e20;
}

.rich-media-right {
  flex: 1;
  min-width: 10px;
  background-color: #1a1e20;
}
