:host {
  flex: 1 0 auto;
  display: block;
  margin-top: 50px;
}

.container {
  margin: 10px;
}

.content {
  display: flex;
}

#pushdownbanner {
  overflow: hidden;
  margin: -10px -10px 0;
  width: calc(100% + 20px);
}

#gutterleft {
  position: fixed;
  left: calc(50% - 1202px);
  top: 0;
  z-index: 99;
}

#gutterright {
  position: fixed;
  right: calc(50% - 1202px);
  top: 0;
  z-index: 99;
}

.rich-media-small{
  position: relative;
}

.rich-media-left {
  flex: 1;
  overflow: hidden;
}

.rich-media-right {
  flex: 1;
  overflow: hidden;
}
