<div class="color-bar"></div>
<div class="container col-xs">
  <div class="row around-xs links">
    <div>Stuff Fibre Indexed</div>
    <div>Neighbourly</div>
    <div>Death Notices</div>
    <div>Advertising</div>
    <div>Careers</div>
    <div>Privacy</div>
    <div>PolicyTerms & Conditions</div>
    <div>Contact Us</div>
  </div>
  <div class="row center-xs">
    <div class="contact">
      <div>Breaking news?</div>
      <div>Send your photos, videos and tip-offs to</div>
      <div>newstips@stuff.co.nz, or call us on 0800 697 8833</div>
    </div>
    <div class="row">
      <div>f</div>
      <div>t</div>
      <div>s</div>
    </div>
  </div>
  <div class="row center-xs">© 2019 Stuff Limited</div>
</div>
